body {
  margin: 0;
  background-color: black;
}
.App {
  text-align: center;
  margin: 0 auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.list {
  text-align: left;
  font-size:18px;
  display: block;
  background-color: #6da782;
  min-height: 50px;
  width:30%;
  padding:10px;
  border-radius: 10px;
  margin: 10px auto;
}
.list a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: grey;
}
.App-link {
  color: #61dafb;
}
.header {
  background: #6da782;
  width: 100%;
}
.btn {
  color: #6da782;
  padding: 5px 15px;
  border: 1px solid #6da782;
  box-shadow: 1px 1px 10px 0px black;
  cursor: pointer;
  margin: 10px;
  background: black;
}
.btn:hover, .btn.act {
  background: #6da782;
  color: black;
  border: 1px solid #000;
  box-shadow: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 768px) {
  .list {
    width: 90%;
  }
}
